<div class="row">
    <div class="col" id="counter">
       <button>Moves: 0</button> 
    </div>
    <div class="col" id="saveGame">        
        <button>Save</button>
    </div>
</div>

<div>
    {{#each mediumGameboard}}
        {{> medium}}
    {{/each}}
</div>>