<div class="row">
    <div class="col" id="counter">
        <p id="counter">Ammo: 0</p>
    </div>
    <div class="col">        
        <button id="saveGame">Save</button>
    </div>
</div>

<div>
    {{#each mediumGameboard}}
        {{> medium}}
    {{/each}}
</div>