<h1 class="header-title">Online Battleship</h1>

<a class = "btn btn-secondary" href="gamemedium" role="button">Play Game</a>
<p class="btn btn-secondary" role="button" id="loadsavedgame">Load Game</p>

