<h1 class="header-title">Online Battleship</h1>

<a class = "btn btn-secondary" href="gamemedium" role="button">New Game</a>
<a class="btn btn-secondary" href="savedgamemedium" role="button">Load Game</a>

